---
pagination:
  data: collections.posts
  size: 1
  alias: post
permalink: "/blog/{{ post.data.title | slugify }}-fragment.html"
eleventyExcludeFromCollections: true
---
<!-- HTMX Fragment for loading into main site -->
<article class="blog-post">
    <div class="back-to-blog">
        <a href="/blog/" hx-get="/blog/blog-content/index.html" hx-target="#main-content" hx-push-url="false">&larr; Back to Blog</a>
    </div>
    
    <header>
        <h1>{{ post.data.title }}</h1>
        <div class="blog-meta">
            Published on {{ post.date | dateDisplay }}
            {% if post.data.tags %}
                • Tags: {% for tag in post.data.tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}
            {% endif %}
        </div>
    </header>
    
    <div class="blog-content">
        {{ post.templateContent | safe }}
    </div>
</article>