---
layout: standalone.njk
---

<article class="blog-post">
    <header>
        <h1>{{ title }}</h1>
    </header>
    
    <div class="blog-content">
        {{ content | safe }}
    </div>
</article>